body {
  background-color: whitesmoke;
}

h1 {
  margin: 0px;
}

/* * {
  transition-duration: 0.2s;
}

:focus {
  border: 2px solid white;
  outline: 3px solid #5096FF;
  box-shadow: 0 0 10px 1px #5096FF;
} */

.gifContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.gifChooser {
  /* width: 100px;
  height: 100px; */
  border: 1px solid #5096FF;
  padding: 50px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.selectedGif {
  border: 2px solid white;
  outline: 3px solid orangered;
  box-shadow: 0 0 10px 1px orangered;
}

.stepContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 50vh; */
}

.contentDiv {
  display: flex;
  width: 100%;
  min-width: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 75px;
}

@media (max-width: 400px) {
  /* .contentDiv:first {
    flex-direction: column !important;
  }

  .contentDiv {
    margin-top: 25px !important;
  }

  .backButton:first {
    margin-bottom: 15px;
  } */

  .contentDiv {
    padding: 10px !important;
  }

  .finalContentDiv {
    margin-top: 20px !important;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  /* .nextButton {
    margin-top: 15px;
  } */
}

.infoFieldContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.infoInput {
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 20px;
  transition-duration: 0.4s;
  border-radius: 5px;
  border: 1px solid gray;
}

.infoInput:hover {
  border-radius: 10px;
  border: 1px solid #5096FF;
}

.nextButton {
  display: block;
  padding: 10px;
  color: #5096FF;
  border: 1px solid gray;
  background: white;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* margin-left: 75px; */
  font-size: 14px;
}

.nextButton:hover {
  border-radius: 10px;
  border: 1px solid #5096FF;
}

.nextButton:disabled {
  border: 1px solid gray;
  color: gray;
  cursor: not-allowed;
}

.backButton {
  display: block;
  padding: 10px;
  color: orangered;
  border: 1px solid gray;
  background: white;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* margin-right: 75px; */
  font-size: 14px;
}

.backButton:hover {
  border-radius: 10px;
  border: 1px solid orangered;
}

.backButton:disabled {
  border: 1px solid gray;
  color: gray;
  cursor: not-allowed;
}

.multiSelect {
  min-width: 240px;
}

.finalContentDiv {
  display: flex;
  width: 100%;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 50px;
}

.finalContentDiv > h1, h3 {
  text-align: center;
}

.selectedPackage {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  max-width: 450px;
  padding: 15px 25px 75px 25px;
  border: 3px solid black;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: #5096FF;
  color: black;
  flex-direction: column;

  /* shadow */
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.selectedPackage > div > p {
  letter-spacing: 1px;
  font-size: 16px;
}

.finalButton {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: black;
  font-size: 24px;
  padding: 20px;
  border: 0px;
  height: 70px;
  color: white;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}