body {
  background-color: whitesmoke;
}

.gifChooser {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
}

.selectedGif {
  border: 3px solid red;
}

.finalContentDiv {
  display: flex;
  width: 100%;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.selectedPackage {
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: orangered;
  color: black;
  flex-direction: column;
}

.stepContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 50vh; */
  margin-top: 75px;
}

.contentDiv {
  display: flex;
  width: 100%;
  min-width: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.infoInput {
  padding: 10px;
  margin: 10px;
  transition-duration: 0.4s;
  border-radius: 5px;
  border: 1px solid gray;
}

.infoInput:hover {
  border-radius: 10px;
  border: 1px solid blue;
}

.nextButton {
  display: block;
  padding: 10px;
  color: blue;
  border: 1px solid gray;
  background: white;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* margin-left: 75px; */
  font-size: 14px;
}

.nextButton:hover {
  border-radius: 10px;
  border: 1px solid blue;
}

.nextButton:disabled {
  border: 1px solid gray;
  color: gray;
  cursor: not-allowed;
}

.backButton {
  display: block;
  padding: 10px;
  color: red;
  border: 1px solid gray;
  background: white;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* margin-right: 75px; */
  font-size: 14px;
}

.backButton:hover {
  border-radius: 10px;
  border: 1px solid red;
}

.backButton:disabled {
  border: 1px solid gray;
  color: gray;
  cursor: not-allowed;
}

.multiSelect {
  min-width: 240px;
}